* {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  text-align: center;
}

.cp {
  cursor: pointer;
}

.m-10 {
  margin: 10px;
}


@media only screen and (min-width: 1200px) {
  .MuiTableCell-root {
    font-size: 1rem !important;   
   }
   .MuiButton-label {
    font-size: 1rem !important;   
   }
   
   select {
     height: 1.75rem !important;
     font-size: 0.85rem !important;   
     padding: 0;
   }
}

@media only screen and (max-width: 768px) {
  .MuiTableCell-root {
    font-size: 0.85rem !important;   
   }
   .MuiButton-label {
    font-size: 0.85rem !important;   
   }
   
   select {
     height: 1.5rem !important;
     font-size: 0.75rem !important;   
     padding: 0;
   }
}
